[Desktop Entry]
Type=Application
Name=TubeCards
Icon=app.getspace.Space
Exec=tubecards
Categories=Education;Languages;Physics;
Keywords=spaced repetition;flashcards;srs;learn;collaboration;
