<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.space.space">
    <!-- The INTERNET permission is required for development. Specifically,
         flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Used by the Import feature to access the database to be imported and
         by the Zefyr Editor to select images from the file system. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Used by receive_sharing_intent to read shared data. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Used by in_app_purchase to offer the possibility to donate -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <!-- requestLegacyExternalStorage is necessary for the ImagePicker library to support API 29+ -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize"
            android:requestLegacyExternalStorage="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with space:// -->
                <data
                    android:scheme="space" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with https://getspace.app/invite -->
                <data
                    android:scheme="https"
                    android:host="getspace.app"
                    android:pathPrefix="/invite" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with https://dev.getspace.app/invite -->
                <data
                    android:scheme="https"
                    android:host="dev.getspace.app"
                    android:pathPrefix="/invite" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
